@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  line-height: 21px;
  background-color: #efefef;
}
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-checkbox {
    width: 22px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-icon-checkbox-blocked {
    width: 22px;
    height: 22px;
    background-position: -10px -52px;
}

.sprite-icon-checkbox-chcked-blocked {
    width: 26px;
    height: 22px;
    background-position: -10px -94px;
}

.sprite-icon-chekbox-checked {
    width: 26px;
    height: 22px;
    background-position: -10px -136px;
}

.sprite-icon-date-calm {
    width: 21px;
    height: 22px;
    background-position: -10px -178px;
}

.sprite-icon-date-click {
    width: 21px;
    height: 22px;
    background-position: -10px -220px;
}

.sprite-icon-date-hover {
    width: 21px;
    height: 22px;
    background-position: -10px -262px;
}

.sprite-icon-eat {
    width: 74px;
    height: 70px;
    background-position: -10px -304px;
}

.sprite-icon-fb {
    width: 10px;
    height: 19px;
    background-position: -10px -394px;
}

.sprite-icon-fb-click {
    width: 10px;
    height: 19px;
    background-position: -10px -433px;
}

.sprite-icon-five-stars {
    width: 89px;
    height: 17px;
    background-position: -10px -472px;
}

.sprite-icon-house {
    width: 75px;
    height: 72px;
    background-position: -10px -509px;
}

.sprite-icon-minus-calm {
    width: 12px;
    height: 3px;
    background-position: -10px -601px;
}

.sprite-icon-minus-click {
    width: 12px;
    height: 3px;
    background-position: -10px -624px;
}

.sprite-icon-minus-hover {
    width: 12px;
    height: 3px;
    background-position: -10px -647px;
}

.sprite-icon-plus-calm {
    width: 11px;
    height: 11px;
    background-position: -10px -670px;
}

.sprite-icon-plus-click {
    width: 11px;
    height: 11px;
    background-position: -10px -701px;
}

.sprite-icon-plus-hover {
    width: 11px;
    height: 11px;
    background-position: -10px -732px;
}

.sprite-icon-souvenirs {
    width: 64px;
    height: 76px;
    background-position: -10px -763px;
}

.sprite-icon-three-stars {
    width: 65px;
    height: 17px;
    background-position: -10px -859px;
}

.sprite-icon-tw {
    width: 17px;
    height: 15px;
    background-position: -10px -896px;
}

.sprite-icon-tw-click {
    width: 17px;
    height: 15px;
    background-position: -10px -931px;
}

.sprite-icon-two-stars {
    width: 42px;
    height: 17px;
    background-position: -10px -966px;
}

.sprite-icon-yt {
    width: 20px;
    height: 16px;
    background-position: -10px -1003px;
}

.sprite-icon-yt-click {
    width: 20px;
    height: 16px;
    background-position: -10px -1039px;
}
.wrapper {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 1px 5px black;
}
.main-header {
  position: relative;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
  color: #000000;
}
.menu-list a {
  color: #000000;
  text-decoration: none;
  display: block;
}
.menu-list a:hover {
color: #81b3d2;
}
.menu-list a.active {
  color: #766357;
}
.menu-list a:active {
  color: #b2b2b2;
}
.menu-list {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 6%;
  padding-right: 6%;
  box-sizing: content-box;
  font-size: 0;
}
.menu-item {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
}
.menu-item:nth-child(3) {
  margin-left: 8%;
}
.menu-item:last-child,
.menu-item:nth-child(3) {
  text-align: right;
}
.logo {
  position: absolute;
  top: 0;
  left: 530px;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.caption {
  height: 510px;
  background-image:
   url("../img/mask.png"),
   url("../img/mountain.jpg");
  background-repeat:
   no-repeat,
   no-repeat;
  background-position:
    50% 100%,
    50% 21%;
  padding-top: 77px;
}
.caption-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about {
  padding-top: 60px;
  padding-bottom: 37px;
  background-color: #ffffff;
}
.title-main {
  width: 576px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.about-text {
  width: 576px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14px;
  margin-top: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.features-item {
  width: 33.33%;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
  float:left;
}
.features-title {
  width: 160px;
  margin-top: 0;
  margin-bottom: 26px;
  margin-right: auto;
  margin-left: auto;
  font-size: 21px;
  line-height: 21px;
}
.features-item p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 21px;
}
.features-blue {
  height: 256px;
  padding-top: 54px;
  padding-bottom: 35px;
  background-color: #81b3d2;
  color: #ffffff;
}
.features-white {
  padding-top: 55px;
  padding-bottom: 63px;
  background-color: #ffffff;
}
.features-icon {
  width: 76px;
  height: 76px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.features-icon::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}
.icon-house::before {
  width: 75px;
  height: 72px;
  background-position: -10px -509px;
}
.icon-eat::before {
  width: 74px;
  height: 70px;
  background-position: -10px -304px;
}
.icon-souvenires::before {
  width: 64px;
  height: 76px;
  background-position: -10px -763px;
}
.features-grey {
  padding-top: 47px;
  padding-bottom: 42px;
  background-color: #eeeeee;
}
.features-image {
  width: 66.66%;
  height: 256px;
  margin: 0;
  float: left;
  overflow: hidden;
}
.image-item {
  width: 100%;
  display: block;
}
.search {
  margin: 0;
  padding-top: 55px;
  background-color: #ffffff;
}
.search-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  font-size: 30px;
  line-height: 30px;
}
.search-text {
  width: 480px;
  margin-top: 0;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.btn {
  display: inline-block;
  font: inherit;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.hotel-search {
  width: 568px;
  height: 86px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
  display: block;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
}
.search-form {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  padding: 55px;
  font-weight: bold;
}
.search-form input {
  display: inline-block;
  padding-left: 13px;
  font: inherit;
  line-height: 26px;
  vertical-align: middle;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
}
.search-form input:hover {
  background-color: #ebebeb;
}
.search-form input:focus {
  background-color: #ffffff;
  outline: 3px solid #e5e5e5;
}
.date-check-in {
  margin-bottom: 29px;
  position: relative;
}
.date-check-in input  {
  margin-left: 22px;
}
.date-check-out input {
  margin-left: 18px;
}
.date-check-in input,
.date-check-out input {
  width: 344px;
  height: 38px;
}
.date-check-in::before,
.date-check-out::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 98%;
  background-image: url("../img/sprite.png");
  transform: translate(-98%, -50%);
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -10px -178px;
}
.date-check-in:hover::before
.date-check-out:hover::before{
  width: 21px;
  height: 22px;
  background-position: -10px -262px;
}
.date-check-out {
  margin-bottom: 30px;
  position: relative;
}
.persons {
  margin-bottom: 54px;
  font-size: 0;
}
.persons label {
  font-size: 14px;
  vertical-align: middle;
}
.persons input {
  width: 38px;
  height: 38px;
  font-size: 14px;
}
.persons .btn {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  position: relative;
}
.btn-plus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  background-position: -10px -670px;
}
.btn-plus:hover::before {
  background-position: -10px -732px;
}
.btn-plus:active::before {
  background-position: -10px -701px;
}
.btn-minus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 3px;
  background-position: -10px -601px;
}
.btn-minus:hover::before {
  background-position: -10px -647px;
}
.btn-minus:active::before {
  background-position: -10px -624px;
}
.persons .adults {
  margin-right: 40px;
}
.persons .children {
  margin-right: 27px;
  margin-left: 53px;
}
.btn-search button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
}
.btn-search button:hover {
  background-color: #669ec0;
}
.btn-search button:active {
  background-color: #5496bd;
  color:#88b6d1;
}
.map {
  width: 100%;
  height: 593px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}
.main-footer {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #ffffff;
  color: #000000;
}
.footer-hashtag {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  }
  .footer-hashtag p {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .footer-social {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 0;
}
.social-btn {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  display: inline-block;
  background-color: #81b3d2;
  font-size: 0;
  text-decoration: 0;
  vertical-align: top;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn-active {
  background-color: #5496bd;
}
.social-btn-tw {
  background-position: 5px -880px
}
.social-btn-fb {
  background-position: 7px -380px;
}
.social-btn-youtube  {
  background-position: 3px -987px;
}
.social-btn-active {
  background-color: #5496bd;
}
.footer-copyright {
  width: 33.33%;
  float: right;
  text-align: center;
  padding-top: 7px;
}
.footer-copiright span {
  vertical-align: middle;
  display: inline-block;
}
.footer-copyright a {
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}
.filter {
 padding-left: 6%;
 padding-right: 6%;
 padding-top: 28px;
 padding-bottom: 5px;
 background-image: url("../img/background.jpg");
 background-repeat: no-repeat;
 background-position: 30% 20%;
 color: #ffffff;
 box-sizing: content-box;
}
.filter ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.filter-infrastructure {
  width: 253px;
  float: left;
  margin-left: 0;
  border: none;
  padding: 0;
}
.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}
.filter-form input[type="checkbox"] {
  display: none;
}
.filter-form input[type="checkbox"] + label {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0;
  padding-left: 40px;
}
.filter-form input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
  width: 22px;
  height: 22px;
  background-position: -10px -10px;
}

.filter-form input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 22px;
  background-position: -10px -136px;
}
.filter-form li {
  margin-bottom: 25px;
  margin-left: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}
.filter-type {
  width: 180px;
  float: left;
  margin-right: 0;
  margin-left:0;
  padding: 0;
  border: none;
}
.filter-price {
  width: 31%;
  margin: 0;
  padding: 0;
  float:right;
  border: none;
}
.filter-price legend {
  margin: 0;
  margin-bottom: 13px;
}
.price-container {
  width: 100%;
  height: 35px;
  display: inline-block;
  border: 2px solid #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.filter-price input {
  width:53px;
  height: 22px;
  margin: 0;
  display: inline-block;
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
  }
  .filter-price input:first-of-type {
    border-right: 2px solid #ffffff;
  }
  .filter-price label {
    vertical-align: middle;
  }
  .filter-price .btn {
    width: 133px;
    height: 32px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 3%
  }
  .filter-price .btn:hover {
    background-color: #ffffff;
    color: #000000;
  }
  .sort {
  padding-top: 31px;
  padding-bottom: 27px;
  padding-right: 6%;
  padding-left: 6%;
  background-color: #ffffff;
}
.sort-left {
  width:528px;
  float: left;
  padding: 0;
}
.sort-title {
  margin-right: 48px;
  font-size: 21px;
}
.sort-text {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}
.sort ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: inline-block;
  font-size: 0;
}
.sort-item {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  margin-right: 34px;
}
.sort-item:last-child {
  margin-right: 0;
}
.sort-item a:not(.active) {
  color: #b2b2b2;
  text-decoration: none;
  border-bottom: 1px dotted #b2b2b2;
}
.sort-item a.active {
  color: #9ac2db;
}
.sort-item a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.sort-item a:active {
  color: #000000;
  border-bottom: 1px dotted #000000;
}
.sort-arrow {
  float: right;
}
.result-item {
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;
  border-top: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-size: 0px;
}
.result-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.result-image {
  width: 135px;
  margin-right: 30px;
  float: left;
}
.hotel-image {
  display: block;
}
.result-content {
  width: 30%;
  float: left;
}
.hotel-link {
  color:#000000;
  text-decoration: none;
}
.hotel-link:hover {
  color: #81b3d2;
}
.hotel-link:active {
  color: #cacaca;
}
.result-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}
.result-content span {
  width: 110px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.btn-more {
  width: 112px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.btn-more:hover {
  background-color: #669ec0;
}
.btn-more:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.btn-reserve {
  width: 142px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background-color: #766357;
  margin-left: 5px;
}
.btn-reserve:hover {
  background-color: #604e43;
}
.btn-reserve:active {
  background-color: #503e33;
  color: #81746d;
}
.result-raiting {
  width: 120px;
  float: right;
  text-align: right;
}
.raiting-stars {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 47px;
  float: right;
}
.stars-5 {
  width: 89px;
  height: 17px;
  background-position: -10px -472px;
}
.stars-3{
  width: 65px;
  height: 17px;
  background-position: -10px -859px;
}
.stars-2 {
  width: 42px;
  height: 17px;
  background-position: -10px -966px;
}
.raiting-value {
  padding-left: 15px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
  color: #666666;
  background-color: #f2f2f2;
  clear: both;
}
