@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url(../fonts/ptsansbold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
*,*::before,*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  line-height: 21px;
  background-color: #efefef;
}
.wrapper {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 1px 5px black;
}
.main-header {
  background-color: #159bef;
  padding-left: 6%;
  padding-right: 6%;
  margin: 0 auto;
}

.menu-list {
  margin-top: 0;
}
.menu-item {
  width: 20%;
  display: inline-block;
}
.container {
  width: 100%;
  margin: 0 auto;
  background-color: #eae485;
}
.caption {
  height: 512px;
  background-image: url("../img/mountain.jpg");
  background-repeat: no-repeat;

}
.about {
  padding-top: 57px;
  padding-bottom: 41px;

}


.title-main {
  width: 576px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 39px;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  background-color: #c9f10f;
}
.about-text {
  width: 576px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;

  text-align: center;
  background-color: #1ceb2a;
}
.features{

  background-color: #ed22b6;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.features-item {
  width: 33.33%;
  padding-top: 46px;
  padding-bottom: 43px;

  min-height: 256px;
  margin:0;
  float:left;
  background-color: #d7f50d;
}
.features-image {
  width: 66.66%;
  margin: 0;
  float: left;
  overflow: hidden;
}
.image-item {
  width: 100%;
  display: block;
}

.search {
  margin: 0;
  padding-top: 58px;
  background-color: #24dc16;
}
.search-title {
  margin-top: 0;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
.search-text {
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hotel-search {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  background-color: #fcff0e;
}
.search-form {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f39090;
}
.map {
  height: 593px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}
.main-footer {
  padding-left: 6%;
  padding-right: 6%;

  background-color: #17e2ab;
}
.footer-hashtag {
  width: 33.33%;
  background-color: #fcff0e;
  float: left;
  text-align: center;
}
.footer-social {
  width: 33.33%;
  background-color: #fcff0e;
  float: left;
  text-align: center;
}
.footer-copyright {
  width: 33.33%;
  background-color: #fcff0e;
  float: right;
  text-align: center;
}
.filter {
 padding-left: 6%;
 padding-right: 6%;
 padding-top: 33px;
 padding-bottom: 33px;
 background-image: url("../img/background.jpg");
 background-repeat: no-repeat;
}
.filter-infrastructure {
  width: 20%;
  float: left;
  margin-right: 0;
  margin-left:0;
  background-color: #1734e2;
}
.filter-type {
  width: 24%;
  float: left;
  margin-right: 0;
  margin-left:0;
  background-color: #1734e2;
}
.filter-price {
  width: 28%;
  float:right;
  background-color: #1734e2;
}
.sort {
  padding: 0 6%;
  background-color: #e25517;
}
.sort-left {
  width:528px;
  float: left;
  background-color: #1ef508;
}
.sort-list {
  margin-top: 0;
  display: inline-block;
}
.sort-item {
  display: inline-block;
}
.sort-arrow {
  width:50px;
  height: 50px;
  float: right;
  background-color: #1ef508;
}
.result-item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;
  border-top: 1px solid #e5e5e5;
}
.result-image {
  width: 135px;
  margin-right: 30px;
  float: left;
  background-color: #e217b0;
}

.result-content {
  width: 30%;
  float: left;
  background-color: #e217b0;
}
.result-raiting {
  width: 120px;
  float: right;
  background-color: #e217b0;
}
h2 {
  font-size: 21px;
  font-weight: bold;
  }
